[submodule "roles/kubernetes"]
	path = roles/kubernetes
	url = https://github.com/geerlingguy/ansible-role-kubernetes.git
[submodule "roles/k8s_manifests"]
	path = roles/k8s_manifests
	url = https://github.com/geerlingguy/ansible-role-k8s_manifests.git
