---
namespace: geerlingguy
name: k8s
description: An elegant collection of Kuberenetes automation tools.
version: "{{ tag }}"
readme: README.md
authors:
  - geerlingguy (https://www.jeffgeerling.com/)
dependencies: { }
license:
  - MIT
tags:
  - kubernetes
  - k8s
  - infrastructure
  - cloud
  - containers
  - eks
  - aks
  - gke
  - digitalocean
  - docker
  - debian
  - redhat
  - ubuntu
  - amazon
  - linux
  - native
repository: https://github.com/geerlingguy/ansible-collection-k8s
documentation: https://github.com/geerlingguy/ansible-collection-k8s
# homepage: ""
issues: https://github.com/geerlingguy/ansible-collection-k8s/issues
build_ignore:
  - scripts
  - molecule
  - .DS_Store
